{% extends "challenge.html" %}

{% block connection_info %}
<div class="mb-3 text-center deployment-actions">
  <img class="d-none" src onerror='view_container_info({{ challenge.id }})'> 
  <div class="alert alert-primary" id="deployment-info"></div>
  <span>
    <button onclick="container_request({{ challenge.id }})" class="btn btn-primary d-none" id="create-chal">
      <small style="color:white;"> Initiate Suffering </small>
    </button>
    <button onclick="container_renew({{ challenge.id }})" class='extend-chal btn btn-info d-none' id="extend-chal">
      <small style='color:white;'> Prolong Suffering </small>
    </button>
    <button onclick="container_stop({{ challenge.id }})" class='terminate-chal btn btn-danger d-none' id="terminate-chal">
      <small style='color:white;'> End Suffering </small>
    </button>
  </span>
</div>
{% endblock %}